@page "/order-success"
@inject ICartService CartService
@using FindIt.Client.Services.CartService

<h1>Order Success</h1>

<p>Thank you for your order!</p>

@code {

	protected override void OnInitialized()
	{
		// CartSerCartServicevice.ClearCart();
	}



}
