.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: white
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.20);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav {
    flex-direction: row !important;
}

/*@media (min-width: 641px) {
    .navbar-for-display-toggler {
        display: none !important;
    }

    .flex-nav {
        display: flex;
        flex-direction: row;
    }

    .collapse {
        display: block !important;
    }
}*/